/*
@Name:广州博盛;
@Time:2018-07-24;
@Author：;
*/


/* 清除默认样式 */
* {
  margin: 0;
  padding: 0;
  outline: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
th,
td,
img,
div {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}
a,
input,
button,
div,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height:100%;
}
body {
  height:100%;
  width: 100%;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "Hiragino Sans GB", "Hiragino Sans GB W3", Simsun, sans-serif;
  font-size: 14px;
  color: #333;
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
  background-color: #f2f2f2;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a:hover,
a:active {
  text-decoration: none;
  outline: 0;
}
button,
input:not[type="checkbox"],
select,
textarea {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  text-transform: none;
}
img {
  vertical-align: top;
  -webkit-touch-callout: none;
}
textarea {
  resize: none;
}
ul,
ol,
li {
  list-style: none;
}
em {
  font-style: normal;
}
button {
  border-image: none;
  border: 0;
}
input::-webkit-input-placeholder {
  color: #ccc;
}

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.hover_class{
  color:#f7bf18!important;
}
.item-50{
  width: 50%;
}
.item-30{
  width: 30%;
}
.color_e{
  color:#eee;
}
.container-wrap{
  position: relative;
  min-width: 1200px;
  margin:0 auto;
  width: 100%;
}
.container{
  max-width: 1100px;
  margin:0 auto;
}
/*放大*/
.scale{
  transition: all  0.6s;
  -o-transition: all  0.6s;
  -moz-transition: all  0.6s;
  -webkit-animation: all  0.6s;
  transform:scale(1.2);
  -o-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -webkit-transform:scale(1.2);
}
/* 顶部容器 */
.container-header{
  background: #fff;
}
.container-header .header{
  background:url("../../img/top-back.png") no-repeat center;
  overflow: hidden;
  background-size: cover;
  padding:15px 0;
}
.container-header .header .logo{
  height:69px;
  vertical-align:middle;
}
.container-header .header .tell{
  margin-top: 15px;
  height:39px;
  vertical-align:middle;
}
.container-header .nav{
  background:rgb(39,43,36);
  color:#fff;
  font-size:15px;
  width: 100%;
}
.container-header .nav ul li{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex:1;
  text-align: center;
  border-right: 1px solid #fff;
}
.container-header .nav ul li:last-child{
  border: none;
}
.container-header .nav ul li a{
  display:block;
  line-height:40px;
  color:#eee;
}

.banner img{
  width: 100%;
}


/*底部容器*/
.container-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:url(../../img/back1.jpg);
  margin-bottom:-259px;
}
.container-footer .nav-footer{
  background:rgb(39,43,36);
}
.container-footer .nav-footer li{
  line-height:40px;
  text-align:center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex:1;
}
.container-footer .nav-footer li a{
  display:block;
  color:#fff;
  font-size:14px;
}
.container-footer .back-img{
  width: 200px;
  height:219px;
  background:url(../../img/shao.png) no-repeat;
  background-size:contain;
  /* margin-right:20px;*/
}
.container-footer .text{
  font-size:13px;
  line-height:28px;
  margin-top:15px;
  color:#ccc;
}
.container-footer .text p span:first-child{
  color:#f1f1f1;
}
.container-footer .box-footer .text .p{
  margin-top:10px;
}
.container-footer .box-footer .text .p span{
  color:#555;
}
.container-footer .box-footer .pull-right{
  height:200px;
  width: 260px;
  margin-top:10px;
  background:url(../../img/footer_map.png) no-repeat center;
  background-size:contain;
}

/* 首页 */
.main .one{
  background:url(../../img/back1.jpg);
  padding:30px 0;
}
.main .one .back-title{
  text-align:center;
  height:46px;
  margin-bottom:20px;
  color:#fff;
}
.main .one .fuwu{
  overflow:hidden;
}
.main .one .fuwu li{
  float:left;
  width: 25%;
  padding:0 12px;
  color:#fff;
}
.main .one .fuwu li h3{
  line-height:34px;
  text-align:center;
}
.main .one .fuwu li a{
  display:block;
  position: relative;
  margin-bottom:10px;
}
.main .one .fuwu li .img_2{
  height:192px;
  width: 192px;
  margin:0 auto;
}
.main .one .fuwu li .img_search{
  position: absolute;
  top: 50%;
  left:0;
  right:0;
  margin:0 auto;
  display:none;
  width: 54px;
  height:54px;
  background:url(../../img/fuwu_search.png) no-repeat center;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);

}
.main .one .fuwu li:nth-child(1) .img_2{
  background:url(../../img/fuwu_01.png) no-repeat center;
}
.main .one .fuwu li:nth-child(2) .img_2{
  background:url(../../img/fuwu_02.png) no-repeat center;
}
.main .one .fuwu li:nth-child(3) .img_2{
  background:url(../../img/fuwu_03.png) no-repeat center;
}
.main .one .fuwu li:nth-child(4) .img_2{
  background:url(../../img/fuwu_04.png) no-repeat center;
}
.main .one .anli_left{
  position: relative;
  width: 490px;
}
.main .one .anli_btn{
  position: absolute;
  left: 0;
  bottom:30px;
  line-height:38px;
  width: 158px;
  color:#eee;
  border: 1px solid;
  text-align:center;
  cursor: pointer;
}
.main .one .anli_btn:hover{
  color:#f7bf18;
}
#anli_01,#anli_02{
  padding:0 60px;
  background:none;
  margin-bottom:20px;
}
#anli_01 .img,
#anli_02 .img{
  width: 50%;
  height:100%;
  overflow:hidden;
  float: left;
  background:#000;
}
#anli_02 .img{
  width: 25%;
}
#anli_01 img,
#anli_02 img{
  // float:left;
  height:100%;
  cursor: pointer;
}
.main .one #anli_01 .flex,
.main .one #anli_02 .flex{
  // display: -webkit-flex;
  // display: -moz-flex;
  // display: -ms-flexbox;
  // display: -webkit-box;
  // display: -moz-box;
  // display: flex;
  // justify-content:space-between;
  // -webkit-justify-content:space-between;
  // -moz-justify-content:space-between;
}
#anli_01 .layui-carousel-arrow,
#anli_02 .layui-carousel-arrow{
  border:1px solid;
}
#anli_01.layui-carousel>[carousel-item]>*,
#anli_02.layui-carousel>[carousel-item]>*{
  background:none;
  text-align:center;
}
#anli_01.layui-carousel>[carousel-item]:before,
#anli_02.layui-carousel>[carousel-item]:before{
  content:'';
}
.anli_03,.anli_04{
  margin:40px 0;
}
.anli_03 .introduce{
  display:inline-block;
  width: 480px;
}
.h3_title{
  line-height:34px;
  padding:0 5px;
  font-size:14px;
  border-bottom: 1px solid #eee;
  margin-bottom:10px;
}
.h3_title .h3{
  color:#f7bf18;
  font-size:18px;
  font-weight: bold;
}
.h3_title .pull-right{
  font-size:12px;
  color:#ccc;
} 
.h3_title .pull-right:hover{
  color:red;
}
.anli_03 .introduce .introduce_img{
  line-height:20px;
  color:#eee;
  font-size:12px;
}
.anli_03 .introduce .introduce_img img{
  width: 100%;
  margin-bottom:15px;
}
.anli_03 .encyclopedias{
  display:inline-block;
  width: 600px;
  padding-left: 20px;
}
// .anli_03 .encyclopedias .pull-right::hover{
//   color:#fff;
//   cursor:pointer;
// }
.encyclopedias_ul li{
  // display:block;
  padding:10px 0;
  color:#eee;
  border-bottom:1px dashed;
  overflow: hidden;
  font-size:12px;
}
.encyclopedias_ul li a{
  display:inline-block;
  max-width:400px;
  cursor:pointer;
  color:#eee;
}
.encyclopedias_ul li a.pull-left{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.encyclopedias_ul li a:hover{
  color:#f7bf18!important;
}
.encyclopedias_ul li .img img{
  width:97px;
}
.encyclopedias_ul li .right{
  margin-left: 10px;
  padding:0px 10px;
  font-size:12px;
}
.encyclopedias_ul li .right h3{
  font-weight:bold;
  cursor:pointer;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.encyclopedias_ul li .right .p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  height: 44px;
  line-height: 22px;
  font-size:12px;
}
.anli_04 {
  justify-content:space-between;
  -webkit-justify-content:space-between;
  -moz-justify-content:space-between;
}
.anli_04 .item-33{
  padding-right:10px;
}

.choice .choice_vs{
  background:url(../../img/VS.png) no-repeat center;
  width: 100%;
  background-size:cover;
  height: 52px;
  margin:20px 0;
}
.choice_ul li{
  margin:20px 0;
}
.choice_ul li .p{
  color:#eee;
  font-size:12px;
  width: 502px;
  padding: 15px 10px 0 10px;
}
.choice_ul li .p:first-child{
  text-align: right;
}
.choice_ul li .img_01{
  width:96px;
  height: 59px;
  background:url(../../img/fangxin_01.png) no-repeat center;
  background-size:cover;
  margin: 0 20px;
}
.choice_ul li .img_02{
  width:96px;
  height: 59px;
  background:url(../../img/fangxin_02.png) no-repeat center;
  background-size:cover;
  margin: 0 20px;
}
.choice_ul li .img_03{
  width:96px;
  height: 59px;
  background:url(../../img/fangxin_03.png) no-repeat center;
  background-size:cover;
  margin: 0 20px;
}
.choice_ul li .img_04{
  width:96px;
  height: 59px;
  background:url(../../img/fangxin_04.png) no-repeat center;
  background-size:cover;
  margin: 0 20px;
}
.choice_ul li .img_05{
  width:96px;
  height: 59px;
  background:url(../../img/fangxin_04.png) no-repeat center;
  background-size:cover;
  margin: 0 20px;
}

.handle .handle_img{
  width: 100%;
  // height: 
}